    /*цвет заголовков, ссылок 
    :title #212121;*/
    /*цвет подписей и текста text
    #757575*/
    /*цвет акцента accent: #2196F3;*/
    /*цвет фона hero : #2F303A;*/
:root {--title-color:#212121;
    --text-color:#757575;
    --accent-color:#2196F3;
    --team-backgroundcolor:#F5F4FA;
    --footer-color:#ffffff;
    --icon-color:#AFB1B8}
 
body {
    font-family: 'Roboto','Tahoma', sans-serif;
    color:var(--text-color)
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    padding-left: 0;
    margin: 0;
}

/*убрать маркеры списка*/
.markerout{list-style-type:none}


.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 1px solid red; */
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section {
    display: flex;
    flex-wrap: wrap;
    padding-top: 94px;
    padding-bottom: 94px;
}
/* .section:first-child{
    padding-bottom: 0;
} */
/*----------------------header--------------*/
.header{
    border-bottom: 1px solid #ECECEC;
    padding-top: 24px;
    padding-bottom: 25px;
}
.header .container{
    display: flex;
    align-items:center ;
}
.header-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 95px;
}
.logo-firstpart{
    color: var(--accent-color);
}
.logo-secondpart{
    color:#000000;
}
.header-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-color);
    padding-top: 8px;
    padding-bottom: 8px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
   display: block;
}
.header-link:hover,
.header-link:focus{
    color: var(--accent-color);
}
.site-nav{
    display: flex;
}
.site-nav .item:not(:last-child){
    margin-right: 50px;
}
.site-nav .header-link.current{
    color: var(--accent-color);
    position: relative;
    display: block;
   
}

.header-link.current::after{
    content:'' ;
    display: block;
    background-color: var(--accent-color);
    border-radius: 2px;
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -26px;
    
}

.contacts{
    margin-left: auto;
}
.header-mail{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail:hover,
.header-mail:focus{
    color: var(--accent-color);
}
.header-tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text-color);
    margin-left: 50px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}
.contacts-icon{
    fill:currentColor;
    margin-right: 10px;
}
/*-------------------hero---------------------*/
.hero{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    max-width: 1600px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-content:center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
    margin-left: auto;
    margin-right: auto;
   }
.hero-title{
    color: #fff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.hero-btn{
    display: block;
    margin: auto;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    width: 200px;
    height: 50px;
    transition-property: color, background-color;
    transition-duration: 250ms,250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    color: #fff;
    background-color: #188CE8;}

/*-----------------------features-------------------*/
.features{
    display: flex;
}
.section-features{
    display: flex;
    flex-wrap: wrap;
    padding-top: 94px;
    padding-bottom: 0;
    justify-content: center;
}
.features-list{
    display: block;
    width: 270px;
}
.features .features-list:not(:last-child){
    margin-right: 30px;
}
.features-picture{
    display: flex;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.features-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
    
}
.feature-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.features-icon{
    color: var(--icon-color);
}
/*----------------------job-------------------------------*/

.job-list{
    display: flex;
}
.job-title{
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color:var(--title-color);
    margin-bottom: 50px;
}
.job-list .job-item:not(:last-child){
    margin-right: 30px;

}
.job-list .img{
    display: block;
    max-width: 100%;
    height: auto;
}
.job-item{
    position: relative;
}
.job-item-title{
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 370px;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    right: 0;
    bottom: 0;
    
}
/*--------------------team-------------------------------*/
.team{
    background-color: var(--team-backgroundcolor);
}
.team-list{
    display: flex;
}
.team-item{
    width: 270px;
    background-color: var(--footer-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
}
.team-list .team-item:not(:last-child){
    margin-right: 30px;
}
.team-title{
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color:var(--title-color);
    margin-bottom: 50px;

}
.team .img{
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.team-img-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--title-color);
    margin-bottom: 10px;

}
.team-img-text{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
 }
.team-soc-list{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.team-soc-item:not(:last-child){
    margin-right: 10px;
}
.team-soc-link{
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--icon-color);
    transition-property: background-color, color;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--accent-color);
    color:#ffffff;
}

.team-soc-icon{
    fill: currentColor;
}
/* ------------------------clients------------------------------ */
.clients-title{
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color:var(--title-color);
    margin-bottom: 50px;
}
.clients-list{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.clients-item{
    display: block;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-item:not(:last-child){
    margin-right: 30px;
}
.clients-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--icon-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.clients-link:hover,
.clients-link:focus{
   color: var(--accent-color);
}

.clients-icon{
    fill: currentColor;
}
.clients-item:hover{
    border: 1px solid var(--accent-color);
}

/*-------------------------footer------------------------------*/
.footer{
    
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-main{
    display: flex;
}

.footer-contacts{
    margin-right: 70px;
}

.footer-logo{
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-bottom: 20px;
}

.footer-logo-secondpart{
    color: var(--footer-color);
}

.footer-address{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-color);
    margin-bottom: 9px;
}
.footer-mail{
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
}
.footer-tel{
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
.footer-mail:hover,
.footer-tel:hover,
.footer-mail:focus,
.footer-tel:focus{
    color: var(--accent-color);
}
.footer-joinus{
    margin-top: 12px;
}
.footer-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    }
.footer-soc-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer-soc-item:not(last-child) {
    margin-right: 10px;
}

.footer-soc-link {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    transition-property: bacjground-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--accent-color);
}

.footer-soc-icon {
    fill: currentColor;
}
.footer-sending{
    /* display: flex; */
    margin-top: 12px;
    margin-left: 93px;
        
}
.footer-fields{
    display: flex;
    align-items: baseline;
    justify-content: end;
}
.footer-input{
    width: 360px;
    height: 50px;
    margin-top: 20px;
    margin-right: 12px;
    margin-bottom: 12px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    color: #ffffff;
}
.footer-btn{
    display: block;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    width: 200px;
    height: 50px;
    
}


/*--------------------potfolio----------------------------*/
.examples{
    background-color: var(--footer-color);
}
.examples-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

/*кнопки портфолио*/
.button {
    display: block;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    background-color: #F5F4FA;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 6px 22px 6px 22px;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms,250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    
}
.examples-btn .li-btn:not(:last-child){
    margin-right: 8px;
}
.button:hover,
.button:focus {
    color: #fff;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* --------------------------------examples------------------------------ */
.examples-images{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.examples-images .cards{
    
      /* Задаём всем элементам маржины слева и сверху */
    margin-left: 30px;
    margin-top: 30px;
    /*  Задаём ширину элементов  */
    flex-basis: calc((100% - 90px) / 3);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cards:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards .img{
    display: block;
    max-width: 100%;
    height: auto;
}
.card{
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
}
.examples-top-wrap{
    position: relative;
    overflow: hidden;
}

.cards:hover .examples-info-text{ 
    transform: translateY(0%);
}

.examples-info-text{
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);
    padding: 63px 24px 63px 24px;
    top: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}

.examples-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
    margin-bottom: 4px;
}
.examples-text{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
/*------------------------modal--------------*/
.backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    background-color: rgba(0, 0, 0, 0.2);
    transition-property: opacity, visibility;
    transition-duration: 500ms, 500ms;
}
.modal{
    width: 528px;
    height: 581px;
    background-color: #fff;
    border-radius: 4px;
    padding: 40px;
    position: absolute;
    top:50%;
    left:50%;
    transition: transform 1000ms;
    transform: translate(-50%, -50%) scale(1) rotate(0);
}
.modal-close-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    position: absolute;
    top:8px;
    right:8px;
    padding: 6px;
}
.modal-close-btn:focus .modal-close-icon,
.modal-close-btn:hover .modal-close-icon
{
    fill:var(--accent-color)
}
.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.2) rotate(360deg)
}
.modal-title{
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
margin-bottom: 12px;
}

.modal-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);
    
}

.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding-left: 42px;
    transition-property: border-color;
    transition-duration: 300ms;
    transition-timing-function: linear;
    }

.modal-input:focus{
    border-color: var(--accent-color);
}    
.modal-input-wrap{
    position: relative;
    margin-bottom: 10px;
    margin-top: 4px;
    }
.input-icon{
    position: absolute;
    left: 12px;
    top:50%;
    transform: translateY(-50%);
    transition: fill 300ms;
}
.modal-input:focus + .input-icon{
    fill:var(--accent-color);
}

.modal-area{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    margin-top: 4px;
    margin-bottom: 20px;
    padding-left: 16px;
    padding-top: 12px;
    outline: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-area::placeholder{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);;
}

.modal-area:focus{
    border-color: var(--accent-color);
}
.modal-text{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);
}
.check-text{
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    align-items: center;
    
}
.check-link{
    margin-left: 5px;
    color: var(--accent-color);
    text-decoration: underline;
}
.check-text::before {
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-color) ;
    border-radius: 3px;
    margin-right: 5px;
}
.input-check:checked+.check-text::before{
    background-color: var(--accent-color);
    border: none;
    background-image: url(../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.input-check:focus+.check-text::before{
    border-color: var(--accent-color);
}

.modal-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    width: 200px;
    height: 50px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)

}
.modal-btn:hover,
.modal-btn:focus{
    background-color: #188CE8;
}