.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-main {
    display: flex;
}



.footer-contacts {
    margin-right: 70px;

    .footer-logo {
        display: block;
        margin-bottom: 20px;
    }

    .footer-address {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--footer-color);
        margin-bottom: 9px;
    }

    .footer-mail {
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 9px;

        &:hover,
        &focus {
            color: var(--accent-color);
        }
    }

    .footer-tel {
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &focus {
            color: var(--accent-color);
        }
    }
}




.footer-joinus {
    margin-top: 12px;

    .footer-title {
        color: #FFFFFF;
    }

    .footer-soc-list {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .footer-soc-item {
        &:not(last-child) {
            margin-right: 10px;
        }
    }

    .footer-soc-link {
        width: 44px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        transition-property: bacjground-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &focus {
            background-color: var(--accent-color);
        }
    }

    .footer-soc-icon {
        fill: currentColor;
    }
}

.footer-sending {
    margin-top: 12px;
    margin-left: 93px;

    .footer-fields {
        display: flex;
        align-items: baseline;
        justify-content: end;
    }

    .footer-input {
        width: 360px;
        height: 50px;
        margin-top: 20px;
        margin-right: 12px;
        margin-bottom: 12px;
        padding-left: 16px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        background-color: transparent;
        color: #ffffff;
    }

    .footer-btn {
        display: block;
    }
}