.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desk.jpg);
    max-width: 1600px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: #2F303A;
    margin-left: auto;
    margin-right: auto;
    @include desktop {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .hero__title {
        color: #fff;
        font-weight: 900;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-bottom: 30px;
        font-size: 26px;
        line-height: 1.62;
        @include desktop {
        font-size: 44px;
        line-height: 1.36;}
        
    }

    .hero__btn {
        display: block;
        margin: auto;
        transition-property: color, background-color;
        transition-duration: 250ms, 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: #fff;
            background-color: #188CE8;
        }
    }
}