.backdrop {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 93px 15px 94px 15px;
    background-color: rgba(0, 0, 0, 0.2);
    transition-property: opacity, visibility;
    transition-duration: 500ms, 500ms;
    overflow-y: scroll;
    
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.2) rotate(360deg)
}

.modal {
        // width: 450px;
        // height: 609px;
        background-color: #fff;
        border-radius: 4px;
        padding: 40px;
        
        @include tablet {
            width: 450px;
            height: 609px;
            position: absolute;
                top: 50%;
                left: 50%;
                transition: transform 250ms;
                transform: translate(-50%, -50%) scale(1) rotate(0);
        }
        @include desktop {
            width: 528px;
            height: 581px;
        }
    }

    

    .modal-title {
        @include font (700, 20px, 1.15, 0.0em);
        text-align: center;
        color: var(--title-color);
        margin-bottom: 12px;
    }

    .modal-close-btn {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        position: absolute;
        top: 8px;
        right: 8px;
        padding: 6px;

        &:focus .modal-close-icon,
        &:hover .modal-close-icon {
            fill: var(--accent-color)
        }

    }


.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);

}

.modal-input-wrap {
    position: relative;
    margin-bottom: 10px;
    margin-top: 4px;

    .modal-input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;
        padding-left: 42px;
        transition-property: border-color;
        transition-duration: 300ms;
        transition-timing-function: linear;

        &:focus {
            border-color: var(--accent-color);
        }

        &:focus+.input-icon {
            fill: var(--accent-color);
        }
    }

    .input-icon {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        transition: fill 300ms;
    }
}

.modal-area {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    margin-top: 4px;
    margin-bottom: 20px;
    padding-left: 16px;
    padding-top: 12px;
    outline: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
        @include font (400,14px, 1.14, 0.01em);
        color: rgba(117, 117, 117, 0.5);
    }

    &:modal-area:focus {
        border-color: var(--accent-color);
    }
}

.modal-text {
    @include font (400, 12px, 1.17, 0.01em);
    color: var(--text-color);
}

.check-text {
    display: flex;
    @include font (400, 12px, 1.17, 0.03em);
    color: var(--text-color);
    align-items: center;

    &::before {
        content: '';
        width: 16px;
        height: 15px;
        border: 2px solid var(--title-color);
        border-radius: 3px;
        margin-right: 5px;
    }
    @include desktop {
    @include font (400, 14px, 1.71,0.03em);
    }
}

.check-link {
    margin-left: 5px;
    color: var(--accent-color);
    text-decoration: underline;
}

.input-check {
    &:checked+.check-text::before {
        background-color: var(--accent-color);
        border: none;
        background-image: url(../images/Vector.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    &focus+.check-text::before {
        border-color: var(--accent-color);
    }
}

.modal-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}