.team {
    background-color: var(--team-backgroundcolor);

    .team-title {
        margin-bottom: 50px;
    }
}

.team-list {
    display: flex;
}

.team-item {
    width: 270px;
    background-color: var(--footer-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;

    &:not(:last-child) {
        margin-right: 30px;
    }

    .team-img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    .team-img-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-color);
        margin-bottom: 10px;
    }

    .team-img-text {
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
    }
}

.team-soc-list {
    display: flex;
    justify-content: center;
    margin-top: 16px;

    .team-soc-item {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    .team-soc-link {
        width: 44px;
        height: 44px;
        background-color: #ffffff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--icon-color);
        transition-property: background-color, color;
        transition-duration: 250ms, 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
            color: #ffffff;
        }
    }

    .team-soc-icon {
        fill: currentColor;
    }
}