.header {
    border-bottom: 1px solid #ECECEC;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header .container {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-firstpart {
    color: var(--accent-color);
}

.header__logo {
    margin-right: 95px;
}

.header__logo--secondpart {
    color: #000000;
}

.footer__logo {
    display: block;
    margin-bottom: 20px;
}

.footer__logo--secondpart {
    color: var(--footer-color);
}

.menu-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-color);
    padding-top: 8px;
    padding-bottom: 8px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    display: block;
}

.menu-list__link:hover,
.menu-list__link:focus {
    color: var(--accent-color);
}

.menu-list {
    display: flex;
}

.menu-list .menu-list__item:not(:last-child) {
    margin-right: 50px;
}

.menu-list .menu-list__link.current {
    color: var(--accent-color);
    position: relative;
    display: block;
}

.menu-list__link.current::after {
    content: '';
    display: block;
    background-color: var(--accent-color);
    border-radius: 2px;
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -26px;
}

.contacts {
    margin-left: auto;
}

.contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.contacts__link:hover,
.contacts__link:focus {
    color: var(--accent-color);
}

.contacts__link.phone {
    margin-left: 50px;
}

.contacts__icon {
    fill: currentColor;
    margin-right: 10px;
}