.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo__firstpart {
    color: var(--accent-color);
}

.logo__secondpart--dark {
    color: #000000;
}

.logo__secondpart--light {
    color: var(--footer-color);
}