.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition-property: opacity, visibility;
    transition-duration: 500ms, 500ms;
}

.modal {
    width: 528px;
    height: 581px;
    background-color: #fff;
    border-radius: 4px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 1000ms;
    transform: translate(-50%, -50%) scale(1) rotate(0);
}

.modal-close-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 6px;
}

.modal-close-btn:focus .modal-close-icon,
.modal-close-btn:hover .modal-close-icon {
    fill: var(--accent-color)
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.2) rotate(360deg)
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 12px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);

}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding-left: 42px;
    transition-property: border-color;
    transition-duration: 300ms;
    transition-timing-function: linear;
}

.modal-input:focus {
    border-color: var(--accent-color);
}

.modal-input-wrap {
    position: relative;
    margin-bottom: 10px;
    margin-top: 4px;
}

.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 300ms;
}

.modal-input:focus+.input-icon {
    fill: var(--accent-color);
}

.modal-area {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    margin-top: 4px;
    margin-bottom: 20px;
    padding-left: 16px;
    padding-top: 12px;
    outline: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-area::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    ;
}

.modal-area:focus {
    border-color: var(--accent-color);
}

.modal-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);
}

.check-text {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    align-items: center;

}

.check-link {
    margin-left: 5px;
    color: var(--accent-color);
    text-decoration: underline;
}

.check-text::before {
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-color);
    border-radius: 3px;
    margin-right: 5px;
}

.input-check:checked+.check-text::before {
    background-color: var(--accent-color);
    border: none;
    background-image: url(../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.input-check:focus+.check-text::before {
    border-color: var(--accent-color);
}

.modal-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    width: 200px;
    height: 50px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #188CE8;
}