    /*цвет заголовков, ссылок 
    :title #212121;*/
    /*цвет подписей и текста text
    #757575*/
    /*цвет акцента accent: #2196F3;*/
    /*цвет фона hero : #2F303A;*/
    :root {
        --title-color: #212121;
        --text-color: #757575;
        --accent-color: #2196F3;
        --team-backgroundcolor: #F5F4FA;
        --footer-color: #ffffff;
        --icon-color: #AFB1B8
    }